@import "~bootstrap/scss/bootstrap";
@import "./colors";

body {
  font-family: 'Baloo Bhai', cursive;
  background-color: aliceblue;
  #header {
    text-align: center;
    margin-top: 1em;
    color: red;
    text-shadow: 1px 1px 1px black;
  }
  #pageTitle {
    text-align: center;
    margin-bottom: 2em;
    h2 {
      color: silver;
      text-shadow: 1px 1px 1px black;
      text-decoration: underline;
    }
  }
}

#buttonContainer {
  text-align: center;
  @media (min-width: 768px) {
    text-align: end;
  }
  #dropdownButton {
    margin-top: 2em;
    margin-bottom: 2em;
    button {    
      width: 70%;
      @media (min-width: 768px) {
        width: auto;
      }
      box-shadow: 1px 1px 2px black;
    }
    .dropdown-menu {
      text-align: center;
      width: 70%;
      @media (min-width: 768px) {
        width: auto;
        text-align: start;
      }
    }
    .Fireworks {
      background-color: $fireworks
    }
    .Demolition {
      background-color: $demolition
    }
  }
}